*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-rows: 10rem 1fr;
    flex-direction: column;
}

header{
    grid-row: 1/2;
}

#content{
    grid-row: 2/3;
    flex: 1;
}