*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --header: 8rem;

    --main-color: #fbf0df;
    --secondary-color: #334D66;
    --ascent-color: #4EA669;
}

body{
    overflow: hidden;
}

#container{
    min-height: 100vh;
}

header{
    position: sticky;
    background: none;
    z-index: 2;
}

.menu {
    background: var(--main-color);
}

header.menu button{
    color: var(--secondary-color);
    text-shadow: none;
}

nav{
    height: 100%;
    background: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    padding: 2rem;
    padding-right: 6rem;

}

nav > button {
    background: none;
    border:none;
    width: 10rem;
    height: 3.5rem;

    color: var(--main-color);
    font-size: 1.5rem;

    cursor: pointer;
    text-shadow: var(--secondary-color) 1px 1px 0px;


}

#content{
    position: absolute;
    inset: 0;
    min-height: 100dvh;
}


#content > img{
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
    object-position: 0% 60%;
    filter: brightness(0.8);
}


#content.menu{
    position: relative;
}

#banderole{
    position: absolute;
    z-index: 2;
    color: var(--main-color);

    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.4rem;
    text-shadow: var(--secondary-color) 1px 1px 0px;
}


#content-center{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 75%;
    border: 10px solid red;
}